USE [master]
GO
/****** Object:  Database [Musteriler]    Script Date: 19.01.2022 15:38:57 ******/
CREATE DATABASE [Musteriler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Musteriler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Musteriler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Musteriler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Musteriler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Musteriler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Musteriler]
GO
/****** Object:  Table [dbo].[musteriler1]    Script Date: 19.01.2022 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler1](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler2]    Script Date: 19.01.2022 15:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler2](
	[Id] [int] NOT NULL,
	[TCKimlikNo] [nvarchar](20) NOT NULL,
	[TelefonNo] [nvarchar](20) NOT NULL,
	[MusteriId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[musteriler1] ON 

INSERT [dbo].[musteriler1] ([MusteriId], [Ad], [Soyad]) VALUES (1, N'Mesut', N'Özil')
INSERT [dbo].[musteriler1] ([MusteriId], [Ad], [Soyad]) VALUES (2, N'Altay', N'Bayındır')
INSERT [dbo].[musteriler1] ([MusteriId], [Ad], [Soyad]) VALUES (3, N'Berke', N'Özer')
SET IDENTITY_INSERT [dbo].[musteriler1] OFF
GO
INSERT [dbo].[musteriler2] ([Id], [TCKimlikNo], [TelefonNo], [MusteriId]) VALUES (1, N'12345678911', N'5385874512', 1)
INSERT [dbo].[musteriler2] ([Id], [TCKimlikNo], [TelefonNo], [MusteriId]) VALUES (2, N'12345678977', N'5398563241', 2)
INSERT [dbo].[musteriler2] ([Id], [TCKimlikNo], [TelefonNo], [MusteriId]) VALUES (3, N'12345678999', N'5312365486', 3)
GO
ALTER TABLE [dbo].[musteriler2]  WITH CHECK ADD FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteriler1] ([MusteriId])
GO
USE [master]
GO
