
@{
    ViewData["Title"] = "Hakkımızda";
}
<style>
    .yazi
    {
        font-size:20px;
    }
</style>

<div style="width:1100px;height:400px;background-color:white;padding-left:10px;padding-top:10px;padding-right:10px;">
    <h1>Hakkımızda</h1>
    <br />
    <p class="yazi">
        Climate, enerji, havalandırma, ısıtma ve soğutma sistemlerini alanında en kaliteli
        ürünleri tüketiciye en uygun fiyatlarla sunma amacıyla 2001 tarihinde kurulmuştur.
        2001 yılından bu yana enerji, havalandırma, ısıtma, soğutma sistemelerini sektöründe İstanbul Kadıköy’de  bulunan firmamız
        her zaman müşterilerinin memnuniyetini öncelikleri arasında ilk sıraya koymuştur. Bu yaklaşımımızı
        E-ticaret sitemizden yapılan alışverişler için de aynı titizlikle göstermeye devam etmekteyiz.
        Müşterilerimizin verdikleri siparişlerin en kısa sürede kendilerine ulaşması için sürekli olarak stoklu çalışmaktayız.
    </p>

    <p class="yazi">
        Climate üzerinden yaptığınız alışverişlerin en sorunsuz şekilde gerçekleşmesi ve
        gerekli durumlarda iptal, iade ve değişim taleplerinin hızla işleme alınabilmesi için müşteri
        hizmetlerimiz her zaman sizi dinlemeye ve çözüm üretmeye hazırdır. İyi alışverişler dileriz!
    </p>
</div>
