
@{
    ViewData["Title"] = "Hizmetler";
}
<div style="width:1100px;height:3200px;background-color:white;">

    <h1 style="padding-left:30px;padding-top:10px;">Hizmetlerimiz</h1>
    <div style="width:900px;height:400px;margin-left:100px;margin-top:50px;">
        <img src="~/img/2.jpg" width="900" height="300" />
        <h2 style="padding-top:10px;">Konutlar</h2>
        <p>
            Yeni inşa edilen ve yenilenen binalarda toplam maliyetlerinizi azaltarak daha iyi yatırım getirisi,
            daha fazla konfor ve daha  yüksek güvenlik elde edin.
        </p>
    </div>
    <div style="width:900px;height:400px;margin-left:100px;margin-top:100px;">
        <img src="~/img/3.jpg" width="900" height="300" />
        <h2 style="padding-top:10px;">Bölgesel Enerji</h2>
        <p>
            Climate, dünyanın en deneyimli bölgesel enerji uzmanlarından biridir ve bizler bölgesel ısıtma veya soğutma
            projelerinizde ortağınız olmaya hazırız.
        </p>
    </div>
    <div style="width:900px;height:400px;margin-left:100px;margin-top:100px;">
        <img src="~/img/4.jpg" width="900" height="300" />
        <h2 style="padding-top:10px;">Endüstri</h2>
        <p>
            Artan dünya nüfusunun taleplerinden biri de daha fazla ve daha gelişmiş altyapı, imalat ve
            ağır sanayi. Güvenirliği arttırmak, enerji tüketimini azaltmak ve emisyonları en aza indirmek için
            Climate'un çözümlerinden faydalanabilirsiniz.
        </p>
    </div>
    <div style="width:900px;height:400px;margin-left:100px;margin-top:100px;">
        <img src="~/img/5.jpg" width="900" height="300" />
        <h2 style="padding-top:10px;">Enerji ve Doğal Kaynaklar</h2>
        <p>
            Rüzgar çiftliklerini, solar fotovoltaik parklarını, geleneksel fosil yakıtlı enerji santrallerini ve
            madencilik çalışmalarını optimize ederek modern toplumlar için güvenli ve sürdürülebilir enerji ve kaynak
            yönetimi sağlayın.
        </p>
    </div>
    <div style="width:900px;height:420px;margin-left:100px;margin-top:100px;">
        <img src="~/img/6.jpg" width="900" height="300" />
        <h2 style="padding-top:10px;">Soğutma ve İklimlendirme</h2>
        <p>
            Climate, dünyadaki en geniş soğutma ve iklimlendirme çözümleri
            portföyünü sunmaktadır. Bu çözümler, yeni enerji ve performans standartlarını da karşılayan
            yüksek güvenilirlik, optimize edilmiş enerji kullanımı ve düşük toplam sahip olma maliyeti avantajlı
            gelişmiş sistemler inşa etmenize yardımcı olur.
        </p>
    </div>
    <div style="width:900px;height:420px;margin-left:100px;margin-top:100px;">
        <img src="~/img/7.jpg" width="900" height="300" />
        <h2 style="padding-top:10px";>Su ve Atık Su</h2>
        <p>
            Taze, temiz su, medeniyetin temel bir unsurudur; tarım için hayati önem taşır ve
            endüstriler için önemlidir. Enerji ve iklimlendirme çözümlerini optimize etmeye
            odaklanmış bir şirket olarak deniz suyu arıtma, sulama ve atık su arıtma da dahil
            olmak üzere tüm su bazlı uygulama ve süreçlere tamamen hakimiz.
        </p>
    </div>










</div>
