@{
    ViewData["Title"] = "Anasayfa";
}
<div style="margin-top:20px;width:1200px;height:522px;background-color:white;">
    <div class="text-center">
        <h1 class="display-4" style="font-weight:bold;">Hoşgeldiniz</h1>
    </div>
    <div style="margin-top:35px;">
        <img src="~/img/1.jpg" width="750" height="420" style="float:right;" />
        <h2 style="padding-left:10px;">Climate- Havalandırma Isıtma Soğutma Sistemleri</h2>
        <p style="padding-left:20px;font-size:20px;padding-top:20px;">
            Kaliteden ödün vermeden, güvenilirliğe ve yenilikçiliğe odaklanarak sunduğumuz akıllı
            ve enerji verimli ürünler, hizmetler ve çözümler; müşterilerimizin daha sürdürülebilir
            bir dünya yaratmalarına yardımcı olur.
        </p>
    </div>
</div>
