@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<div style="width:1100px;height:700px;background-color:white;padding-left:10px;padding-right:10px;padding-top:10px;">
    <h1>@ViewData["Title"]</h1>

    <p>Güvenliğiniz bizim için önemli. Bu sebeple bizimle paylaşacağınız kişisel verileriz hassasiyetle korunmaktadır.</p>
    <p>
        Biz, Climate, veri sorumlusu olarak, bu gizlilik ve kişisel verilerin korunması politikası ile,
        hangi kişisel verilerinizin hangi amaçla işleneceği, işlenen verilerin kimlerle ve neden paylaşılabileceği,
        veri işleme yöntemimiz ve hukuki sebeplerimiz ile; işlenen verilerinize ilişkin haklarınızın neler olduğu
        hususunda sizleri aydınlatmayı amaçlıyoruz.
    </p>
    <h2>
        Toplanan Kişisel Verileriniz, Toplanma Yöntemi ve Hukuki Sebebi
    </h2>
    <p>
        IP adresiniz ve kullanıcı aracısı bilgileriniz, sadece analiz yapmak amacıyla ve çerezler (cookies) vb.
        teknolojiler vasıtasıyla, otomatik veya otomatik olmayan yöntemlerle ve bazen de analitik sağlayıcılar,
        reklam ağları, arama bilgi sağlayıcıları, teknoloji sağlayıcıları gibi üçüncü taraflardan elde edilerek,
        kaydedilerek, depolanarak ve güncellenerek, aramızdaki hizmet ve sözleşme ilişkisi çerçevesinde ve süresince,
        meşru menfaat işleme şartına dayanılarak işlenecektir.
    </p>
    <h2>Kişisel Verilerinizin İşlenme Amacı</h2>
    <p>
        Bizimle paylaştığınız kişisel verileriniz sadece analiz yapmak suretiyle; sunduğumuz hizmetlerin
        gerekliliklerini en iyi şekilde yerine getirebilmek, bu hizmetlere sizin tarafınızdan ulaşılabilmesini
        ve maksiumum düzeyde faydalanılabilmesini sağlamak, hizmetlerimizi, ihtiyaçlarınız doğrultusunda geliştirebilmek
        ve sizleri daha geniş kapsamlı hizmet sağlayıcıları ile yasal çerçeveler içerisinde buluşturabilmek ve kanundan
        doğan zorunlulukların (kişisel verilerin talep halinde adli ve idari makamlarla paylaşılması) yerine getirilebilmesi
        amacıyla, sözleşme ve hizmet süresince, amacına uygun ve ölçülü bir şekilde işlenecek ve güncellenecektir.
    </p>
    <h2>
        Toplanan Kişisel Verilerin Kimlere ve Hangi Amaçlarla Aktarılabileceği
    </h2>
    <p>
        Bizimle paylaştığınız kişisel verileriniz; faaliyetlerimizi yürütmek üzere hizmet aldığımız ve/veya verdiğimiz,
        sözleşmesel ilişki içerisinde bulunduğumuz,iş birliği yaptığımız, yurt içi ve yurt dışındaki 3. şahıslar ile kurum
        ve kuruluşlara ve talep halinde adli ve idari makamlara, gerekli teknik ve idari önlemler alınması koşulu ile aktarılabilecektir.
    </p>
</div>